@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&family=Poppins:ital,wght@0,100;0,400;0,500;1,100&family=Source+Sans+Pro&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
* {
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: ease;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif !important;
  cursor: default;
  user-select: none;
}

.nav-link:hover {
  transition: all 0.4s ease-in-out;
  color: #000000 !important;
}

.container-fluid {
  padding: 0px !important;
}

/* starting to add underline when hover*/
.line {
  position: relative;
}

.line::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  background-color: #000000;
  left: 50%;
  bottom: -10px;
  transition: all 0.35s ease-in-out;
}

.under:hover .line::after {
  width: 100%;
  left: 0;
}
/* finishing to add underline when hover*/

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 50px 20px;
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  transition: opacity 0.35s, transform 0.35s;
  transform: translate3d(-10px, 0, 0);
  backface-visibility: hidden;
}

.hovereffect:hover img {
  opacity: 0.4;
  transform: translate3d(0, 0, 0);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  overflow: hidden;
  padding: 0.5em 0;
  background-color: transparent;
}

.hovereffect h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: "";
  transition: transform 0.35s ease-in-out;
  transform: translate3d(-100%, 0, 0);
}

.hovereffect:hover h2:after {
  transform: translate3d(0, 0, 0);
}

.hovereffect a,
.hovereffect p {
  color: #fff;
  opacity: 0;
  transition: opacity 0.35s, transform 0.35s;
  transform: translate3d(100%, 0, 0);
}

.hovereffect:hover a,
.hovereffect:hover p {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
._1 {
  margin: 0px 10px 0px 10px !important;
}
._2 {
  border-top: 1px solid #000000;
  margin: 0px 10px 0px 10px !important;
}
._3 {
  padding: 100px 0px 100px 0px !important;
}
._4 {
  border-bottom: 1px solid white;
  margin-bottom: 15px;
}
._5 {
  border-top: 1px solid #000000;
  /* margin-top: 2rem !important; */
}
._6 {
  padding: 100px 0px 0px 0px !important;
}
._7 {
  text-align: center;
}
.inherit {
  /* height: 100vh; */
  margin-top: 8px;
}
.text {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}
h1 {
  font-size: 4rem !important;
  font-weight: bold !important;
  animation-delay: 2.4s;
}

.btn-2:hover,
.btn-2:active {
  letter-spacing: 3px;
}

.btn-2:after,
.btn-2:before {
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
  backface-visibility: hidden;
  border-color: rgba(0, 0, 0, 0.55);
  transition: width 350ms ease-in-out;
  width: 70%;
}

.btn-2:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

.mainbtn {
  color: rgba(0, 0, 0, 0.55);
  font-size: 18px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.containerBtn {
  /* align-items: center; */
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* padding: 1em; */
  text-align: center;
  justify-content: space-between;
}
.mainbtn:hover {
  color: rgba(0, 0, 0, 0.55);
}

.one {
  overflow: hidden;
  color: #fff;
}
.one .layer {
  color: #fff;
  position: absolute;
  top: -70px;
  width: 100%;
  left: 0;
  padding: 20px 0;
  background-color: #f44336;
  transition: all 0.3s ease;
}
.one:hover .layer {
  top: 0;
}
.btn1 {
  outline: none;
  display: block;
  width: 100%;
  height: 56px;
  position: relative;
  border: none;
  transition: all 0.5s ease;
  background-color: transparent;
}
.fa {
  color: #000000;
  font-size: 1.25rem;
}

#app {
  font-size: 1.4rem;
  padding: 1.5rem;
}

.card-box {
  padding: 20px;
  box-shadow: 0px 0px 10px 0px #c5c5c5;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: #c3c3c3;
  min-height: 15rem;
}
.card-box .card-thumbnail {
  max-height: 12.5rem;
}

.card-box h3 a {
  font-size: 20px;
  text-decoration: none;
}

/* #b2b2b2 for projects buttons */
